* {
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.header {
    background-image: url('./images/banner/banner3.png');
    height: 800px;
}

.header-content {
    text-align: right;
    color: white;
    width: 400px;
    float: right;
    margin-top: 20%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 50px;
}

.header-content h1 {
    margin-bottom: 40px;
}

.header-content p {
    margin-bottom: 20px;
    line-height: 2rem;
}

button {
    color: #005FAC;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.last-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
}

.last-year-details {
    padding-left: 50px;
}

.last-year-details h2 {
    margin-bottom: 30px;
}

.last-year-details p {
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.ul {
    list-style-type: none;
    padding-left: 0;
}

.ul li {
    line-height: 2rem;
}

i {
    color: #16D887;
}

/* Plans Section CSS */
.plans h2 {
    text-align: center;
}

.plans-description {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
    text-align: center;
}

.plans-description h3 {
    line-height: 3rem;
}

.plans-description p {
    font-size: 22px;
    color: #737272FF;
}

/* Positive Mindset CSS */
.mindset {
    background-image:
        linear-gradient(to right, rgba(47, 153, 240, 0.73), rgba(239, 241, 252, 0)),
        url('images/watch.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 75%;
    margin-left: 12.5%;
    color: white;
    padding: 50px;
}
.mindset h2{
    margin-bottom: 10px;
}
