/* Common CSS */
* {
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    font-weight: bold;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
button {
    color: #005FAC;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
/* Header CSS */
.header {
    background-image: url('./images/banner/banner3.png');
    height: 808px;
}
.header-content {
    text-align: right;
    color: white;
    width: 400px;
    float: right;
    margin-top: 20%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 50px;
}
.header-content h1 {
    margin-bottom: 40px;
}
.header-content p {
    margin-bottom: 20px;
    line-height: 2rem;
}
/* Last Year CSS */
.last-year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
}
.last-year-details {
    padding-left: 50px;
}
.last-year-details h2 {
    margin-bottom: 30px;
}
.last-year-details p {
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.ul {
    list-style-type: none;
    padding-left: 0;
}
.ul li {
    line-height: 2rem;
}
i{
    color: #16D887;
}
/* Plans Section CSS */
.plans h2 {
    text-align: center;
}
.plans-description {
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
    text-align: center;
}
.plans-description h3 {
    line-height: 3rem;
}
.plans-description p {
    font-size: 22px;
    color: #737272FF;
}
/* Positive Mindset CSS */
.mindset {
    background-image:
        linear-gradient(to right, rgb(28, 142, 236), rgba(239, 241, 252, 0)),
        url('images/watch.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 75%;
    margin-left: 9%;
    color: white;
    padding: 50px;
}
.mindset h2{
    margin-bottom: 10px;
}
/* Register CSS*/
.register{
    text-align: left;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 100px;
    background-color: skyblue;
    border-radius: 10px;
}
.register h3{
    text-align: center;
    padding-top: 50px;
}
.register form{
    padding: 50px 100px;
    border-radius: 5px;
}
.register .text-input{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: rgb(219, 240, 248);
    border: none;
    padding: 0px 20px;
}
.register label fieldset{
    font-weight: bold;
}
.register button{
    background-color: #005FAC;
    color: white;
}
/* Footer CSS */
.footer{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    padding: 10%;
    color: white;
    margin-top: 100px;
}
.feature{
padding-right: 30%;
}
.feature h3{
    margin-bottom: 20px;
}
.feature p{
    line-height: 1.5rem;
}
.feature .email{
    margin-top: 20px;
}
.feature .phone{
    margin-top: 20px;
    margin-bottom: 30px;
}
.feature .img{
    margin-right: 20px;
}
.subscribe p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.subscribe input{
    height: 50px;
    width: 300px;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
}
.subscribe button{
    background-color: #005FAC;
    color: white;
}